<div class="div-center">
<mat-grid-list cols="4" rowHeight= "250px">
  <mat-grid-tile [class.mat-elevation-z5]="!isActive" >
    <mat-icon>account_balance</mat-icon>My Facilities
  </mat-grid-tile>
  <mat-grid-tile [class.mat-elevation-z5]="!isActive" >
    <mat-icon>note_add</mat-icon>Application
  </mat-grid-tile>
  <mat-grid-tile [class.mat-elevation-z5]="!isActive">
    <mat-icon>contacts</mat-icon>Contact Details
  </mat-grid-tile>
  <mat-grid-tile [class.mat-elevation-z5]="!isActive">
    <mat-icon >announcement</mat-icon>Application Status
  </mat-grid-tile>
</mat-grid-list>
</div>

 